#include "cornev5.dtsi"
/* 启用 P0、P1 端口，二选一或都加 */
&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};
&kscan0 {
    col-gpios =
        <&gpio0 10 GPIO_ACTIVE_HIGH>,
        <&gpio0 11 GPIO_ACTIVE_HIGH>,
        <&gpio0 12 GPIO_ACTIVE_HIGH>,
        <&gpio0 13 GPIO_ACTIVE_HIGH>,
        <&gpio0 14 GPIO_ACTIVE_HIGH>,
        <&gpio0 15 GPIO_ACTIVE_HIGH>;
};

/* 设置矩阵列偏移 */
&default_transform {
    col-offset = <6>;
};

/* ========== 分体必备：split 配置 ========== */
/ {
    chosen {
        zmk,split = <&split0>;
    };

    split0: split {
        compatible = "zmk,split";
        /* 左侧写 central，右侧写 peripheral */
        role = "central";
    };
};
