#include "cornev5.dtsi"

&pro_micro {
    status = "okay";
};

&kscan0 {
    /* 左侧实际列引脚，按你的接线修改 */
    col-gpios =
        <&pro_micro 10 GPIO_ACTIVE_HIGH>,
        <&pro_micro 11 GPIO_ACTIVE_HIGH>,
        <&pro_micro 12 GPIO_ACTIVE_HIGH>,
        <&pro_micro 13 GPIO_ACTIVE_HIGH>,
        <&pro_micro 16 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>;
};

&default_transform {
    col-offset = <0>;  /* 左侧无偏移 */
};

/ {
    chosen {
        zmk,split = <&split0>;
    };
    split0: split {
        compatible = "zmk,split";
        role = "central";
    };
};
