#include "cornev5.dtsi"

/* 启用 pro_micro 连接器 */
&pro_micro {
    status = "okay";
};

/* 给 kscan0 补充列引脚 */
&kscan0 {
    col-gpios =
        <&pro_micro 10 GPIO_ACTIVE_HIGH>,
        <&pro_micro 11 GPIO_ACTIVE_HIGH>,
        <&pro_micro 12 GPIO_ACTIVE_HIGH>,
        <&pro_micro 13 GPIO_ACTIVE_HIGH>,
        <&pro_micro 14 GPIO_ACTIVE_HIGH>,
        <&pro_micro 15 GPIO_ACTIVE_HIGH>;
};

/* 设置矩阵列偏移 */
&default_transform {
    col-offset = <6>;
};

/* ========== 分体必备：split 配置 ========== */
/ {
    chosen {
        zmk,split = <&split0>;
    };

    split0: split {
        compatible = "zmk,split";
        /* 左侧写 central，右侧写 peripheral */
        role = "central";
    };
};
