# Kconfig.defconfig
if SHIELD_CORNEV5_LEFT
    config ZMK_KEYBOARD_NAME
        default "CorneV5 Left"
endif

if SHIELD_CORNEV5_RIGHT
    config ZMK_KEYBOARD_NAME
        default "CorneV5 Right"
endif
